h1 {
    color:red;
}

input[disabled] {
    visibility: hidden;
}

#current .event {
    float: left;
    margin: 5px;
    text-align: center;
    padding: 5px;
    background-color: #CCCCCC;
    width: 130px;
    border-radius: 10px;
}

#current .event > span {
    display: block;
}

#current .repo {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

br {
    clear: both;
}

#history {
    display: table;
}

#history > div {
    display: table-row;
}

#history > div > span {
    display: table-cell;
    padding: 3px;
}

#history .repo {
    display: none;
}

.group1 {
    border-left: 10px solid #00AA00;
}

.group2 {
    border-left: 10px solid #FFAA00;
}

.group3 {
    border-left: 10px solid #FF0000;
}

.group4 {
    border-left: 10px solid #AAAAFF;
}

.group5 {
    border-left: 10px solid #FFAAAA;
}

