h1, h2, h3, h4, .current .event {
    background-color: #CCCCCC;
    padding: 5px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
}

h1 a, h2 a, h3 a {
    color: black !important;
}

h1 {
    border-left: 10px solid #000000;
}

h2 {
    border-left: 10px solid #555555;
}

h3 {
    border-left: 10px solid #999999;
}

h4 {
    border-left: 10px solid #BBBBBB;
}

pre h4 {
    margin-top: 10px;
    margin-left: -15px;
}

pre {
    padding-left: 15px;
}

input[disabled] {
    visibility: hidden;
}

.rev1 {
    color: green;
}

.rev2 {
    color: red;
}

.diff .addline {
    color: green;
}

.diff .delline {
    color: red;
}

.diff .lines {
    color: teal;
}

.current .event {
    float: left;
    text-align: center;
    width: 22ex;
}

.current .event > span {
    display: block;
}

.current .repo {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

a, a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

br {
    clear: both;
}

.history {
    display: table;
}

.history > div {
    display: table-row;
}

.history > div > span {
    display: table-cell;
    padding: 3px;
}

.history .repo {
    display: none;
}

.group1 {
    border-left: 10px solid #00AA00;
}

.group2 {
    border-left: 10px solid #FFAA00;
}

.group3 {
    border-left: 10px solid #FF0000;
}

.group4 {
    border-left: 10px solid #AAAAFF;
}

.group5 {
    border-left: 10px solid #FFAAAA;
}

.updated {
    float: right;
    background-color: #CCCCCC;
    padding: 5px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
}
